<div class="container">
    <h2><marquee behavior="" direction=""> <strong class="text-danger"> BREAKING NEWS</strong></marquee></h2>
    <div class="row">
        
        <div class="col-sm-6" *ngFor="let item of sportsdata">
                <div class="card">
                    <div class="card-body">
                        <img src="{{item.urlToImage}}" class="card-img-top" alt="">
                        <p class="card-title"><i>{{item.title}}</i> </p>
                        
                        
                        <a class="card-link btn btn-dark" href="{{item.url}}">Read More</a>
                    </div>
                </div>
        </div>
    </div>
</div>
