 <nav class="navbar navbar-expand-lg navbar-light bg-primary  ">
    <a href="#" class="navbar-brand "><strong>NEWS</strong> </a>
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#demo">
        <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="demo">
    <ul class="navbar-nav" >

        <li class="nav-item"><a routerLink="/buisness" class="nav-link">BUISNESS </a></li>
        <li class="nav-item" ><a routerLink="/tech" class="nav-link" >TECH </a></li>
        
        <li class="nav-item"><a routerLink="/entertainment" class="nav-link">ENTERTAINMENT </a></li>
        <li class="nav-item"><a routerLink="health" class="nav-link">HEALTH </a></li>
        <li class="nav-item"><a routerLink="science" class="nav-link">SCIENCE</a></li>
        <li class="nav-item"><a routerLink="sports" class="nav-link">SPORTS</a></li>
    </ul>
</div>
</nav>

<router-outlet></router-outlet>
<footer>
    <p class="text-center"><strong> &copy; by Mamatha Anto @2022</strong></p>
</footer>
